body {
    display: flex;
    justify-content: space-around;
  }
  
  .registro-container {
    display: flex;
    flex-direction: column;
  }
  
  .registro-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .registro-title {
    text-align: center;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
  }
  
  .form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
  }
  
  .form-group:last-child {
    margin-right: 0;
  }
  
  input {
    padding: 8px;
    font-size: 1rem;
    background-color: white;
    color: black;
  }
  
  .form-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff !important;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }


  .success-message {
    color: green;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
  }
  
  